body{
    background-image:linear-gradient(to top,#cfd9df 0%,#e2ebf0 100%);
}
.col-md-6{
    margin-top:150px!important;
}
input[type="text"]{
    width:100%;
}
input[type="button"]{
    width:100%;
    background-color:blue;
    color:white;
    font-weight:bold;
    border:2px solid black;
}
h1{
    font-weight:bold!important;
    margin-top:15px;
}